%div
  = label :name, "Name"
  = f.text_field :name
%div
  = label :tag, "Shorthand Tag"
  = f.text_field :tag
%div
  = label :rate, "Rate"
  = f.text_field :rate #, :disabled => @service.inherit_rate
  = #label :inherit_rate, "Inherit"
  = #f.check_box :inherit_rate
