%form{:action => session_path, :method => 'post'}
  #normal_login.inner{:style => 'display:block'}
    #loginUsernameField
      %label{:for => 'loginUsername'}= t('sessions.username')
      != text_field_tag 'email', @email, :size => 30, :id => 'loginUsername', :class => 'medium'
    #loginPasswordField
      %label{:for => 'loginPassword'}= t('sessions.password')
      != password_field_tag 'password', nil, :size => 30, :id => 'loginPassword', :class => 'medium'
    #loginCustom
      %div
        %a{:href => new_user_path}= t('sessions.register_account') 
  
  #dialogSubmit
    %button.submit{:type => 'submit'}= t('sessions.login')
    
  
