.entry{:id => "entry_#{entry.id}"}
  - entry_form_for entry do |f| 
    = f.text_field :content
    .formActions
      = f.submit t('.submit')
      = t('.or')
      = link_to t('.remove'), :url => entry_path(entry), :method => :delete, :remote => true
      = t('.or')
      = link_to t('.cancel'), :url => entry_path(entry), :method => :get, :remote => true
