.entry{:id => "entry_#{entry.id}", :times => entry.current_time.floor}
  .actions	
    = link_to_remote t('actions.edit'), :url => edit_entry_path(entry), :method => :get
    - unless entry.terminated?
      = link_to_remote t('actions.finish'), :url => terminate_entry_path(entry), :method => :put
  .entryContent{:class => entry.is_overdue? ? 'overdue' : nil}= entry.content_html
  .entryTime{:class => entry.terminated? ? 'done' : 'active', :start_date => entry.start_date.to_s}= friendly_time(entry.current_time.floor)
  - if entry.done_date.nil?
    = javascript_tag "Timer.register(#{entry.id});"
