#entryBox
  - form_for entry, :url => entries_path, :remote => true do |f|
    - unless project.nil?
      = hidden_field_tag 'entry[project_id]', project.id
    - unless service.nil?
      = hidden_field_tag 'entry[service_id]', service.id
    - if !project.nil?
      = f.label :content, t('entries.what_in_project', :project => entry_project_tag(project.tag))
    - elsif !service.nil?
      = f.label :content, t('entries.what_in_service', :service => entry_service_tag(service.tag))
    - else
      = f.label :content, t('entries.what_status_html')
    = f.text_field :content
