#entryBox
  = form_for entry, :url => entries_path, :remote => true do |f|
    - unless project.nil?
      %input{:type => 'entry[project_id]', :type => 'hidden', :value => project.id}
    - unless service.nil?
      %input{:type => 'entry[service_id]', :type => 'hidden', :value => service.id}
    - if !project.nil?
      = f.label :content, t('entries.what_in_project', :project => entry_project_tag(project.tag)), :unescaped => true
    - elsif !service.nil?
      = f.label :content, t('entries.what_in_service', :service => entry_service_tag(service.tag)), :unescaped => true
    - else
      = f.label :content, t('entries.what_status_html'), :unescaped => true
    = f.text_field :content
