%div
  = label :email, t('users.email')
  = f.text_field :email
%div
  = label :password, t('users.password')
  = f.password_field :password
%div
  = label :password_confirmation, t('users.password_confirmation')
  = f.password_field :password_confirmation
%div
  = label :rate, t('users.rate')
  = f.text_field :rate
%div
  = label :timezone, t('users.timezone')
  = time_zone_select 'user', 'timezone', nil, {}, {:class => 'moderate'}
