%div
  = f.label :name, t('projects.name')
  = f.text_field :name
%div
  = f.label :tag, t('projects.tag')
  = f.text_field :tag
%div
  = f.label :client, t('projects.client')
  = f.select 'client_id', client_select_fields(@project.new? ? @logged_user : @project.user)
