%div
  = label :name, t('projects.name')
  = f.text_field :name
%div
  = label :tag, t('projects.tag')
  = f.text_field :tag
%div
  = label :client, t('projects.client')
  = f.select 'client_id', client_select_fields(@project.new_record? ? @logged_user : @project.user)
