!!! Strict
%html
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    %title= "Twackr - #{h(@page_title)}"
    != stylesheet_link_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "viewport", :content => "initial-scale=1.0"}
    %meta{:name => "viewport", :content => "user-scalable=false"}

    = javascript_include_tag 'prototype.js' 
    = javascript_include_tag 'effects.js'
    = javascript_include_tag 'controls.js'
    = javascript_include_tag 'flotr.js'
    = javascript_include_tag 'application.js'

    = yield :js_includes
    - javascript_tag do
      = yield :js_templates
    
    - if protect_against_forgery?
      = javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};"
    
  %body#body
    #wrapper
      
      -# Top of page (tabs, user box, etc)
      #header
        .topCrumbs
          = link_to t('nav.projects'), projects_path, :class => (controller.class == ProjectsController ? 'active' : nil)
          = link_to t('nav.clients'), clients_path,   :class => (controller.class == ClientsController ? 'active' : nil)
          = link_to t('nav.services'), services_path, :class => (controller.class == ServicesController ? 'active' : nil)
          = link_to t('nav.account'), '/settings',    :class => (controller.class == UsersController ? 'active' : nil)
          = link_to_remote t('nav.logout'), :url => logout_path, :method => :destroy
        = navigation_for_page
        .clear
      
      #outerWrapper
        #innerWrapper.totalPageWidth
          -# Displays general alerts
          = status_bar
          
          #pageContent
            #content
              #innerContent
                -# Content
                = yield
            
            %div{:style => 'clear:both'}
          
        = render :partial => 'layouts/footer'
